.reservedContainer {
  position: relative;
  padding-top: 150px;
  padding-bottom: 50px;
  display: grid;
  place-items: center;
}

.reservedContainer section {
  background: #f4f4f4;
  padding: 50px;
}

.contain {
  display: none;
}

.empty {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hidempty {
  display: none;
}
