<header class="container-fluid">
  <nav class="container">
    <a routerLink="/home">
      <img src="../../../assets/epiceats.png" height="100px" width="100px" />
    </a>
    <nav>
      <a routerLink="/home" routerLinkActive="active"> HOME </a>
      <a routerLink="/menu" routerLinkActive="active">MENU</a>
      <a routerLink="/gallery" routerLinkActive="active">GALLERY</a>
      <a routerLink="/about" routerLinkActive="active">ABOUT</a>
      <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
    </nav>
  </nav>
</header>
